# Modeling

In [2]:
import pandas as pd

In [3]:
X= pd.read_csv('data/data_for_modeling.csv')

In [4]:
X

,Eff Yr Built,Above Grd SF,Basemt Tot SF,Basemt Fin SF,Garage SF,Est Land SF,Unincorporated,Design_1 Sty Townh,Design_Bi Level,Design_Modular,...,Design_Ranch,Design_Split level,Quality_cat,Garage Attached,Market Area_401,Market Area_402,Market Area_403,Market Area_404,Market Area_405,Time Adjust Sales Price
0,1990,1311,0,0,420,29780,1,0,0,0,...,1,0,3,1,1,0,0,0,0,581143.136625
1,2001,1311,0,0,420,29780,1,0,0,0,...,1,0,3,1,1,0,0,0,0,652607.758723
2,1980,1380,1050,1050,475,14234,1,0,0,0,...,1,0,1,1,1,0,0,0,0,553206.861188
3,2000,1270,500,500,475,8315,1,0,0,0,...,0,1,3,1,1,0,0,0,0,495706.522160
4,1995,850,500,500,475,10350,1,0,0,0,...,0,1,1,1,1,0,0,0,0,576679.694605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7073,2005,2170,1030,0,706,14842,0,0,0,0,...,0,0,6,1,0,0,0,0,1,773180.319485
7074,2005,2170,1030,0,706,14842,0,0,0,0,...,0,0,6,1,0,0,0,0,1,765964.675620
7075,2005,2188,1072,965,440,12110,0,0,0,0,...,0,0,4,1,0,0,0,0,1,757164.350655
7076,2004,2450,1254,0,600,13294,0,0,0,0,...,0,0,5,1,0,0,0,0,1,775666.458287
7077,2003,2170,1030,0,486,12911,0,0,0,0,...,0,0,4,1,0,0,0,0,1,729660.642766